<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <display-name>Servlet 3.0 Web Application</display-name>
  <servlet>
    <servlet-name>DriveRootFilesServlet</servlet-name>
    <servlet-class>Servlets.DriveRootFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriveRootFilesServlet</servlet-name>
    <url-pattern>/DriveRootFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewDriveDocument</servlet-name>
    <servlet-class>Servlets.AddNewDriveDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewDriveDocument</servlet-name>
    <url-pattern>/AddNewDriveDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShareFileWithPerson</servlet-name>
    <servlet-class>Servlets.ShareFileWithPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareFileWithPerson</servlet-name>
    <url-pattern>/ShareFileWithPerson</url-pattern>
  </servlet-mapping>
</web-app>